ACS-DPI-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.4.3.5, Date: 12-Mar-2021. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>
   <xsd:include id="ADS_Message_set"
                schemaLocation="ADSMessageSetVersion1_ACS.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="CMAircraftMessage" type="CMAircraftMessageType"/>
   <xsd:complexType name="CMAircraftMessageType">
      <xsd:choice>
         <xsd:element name="cmLogonRequest" type="CMLogonRequest"/>
         <xsd:element name="cmContactResponse" type="CMContactResponse"/>
         <xsd:element name="cmAbortReason" type="CMAbortReason"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="CMGroundMessage" type="CMGroundMessageType"/>
   <xsd:complexType name="CMGroundMessageType">
      <xsd:choice>
         <xsd:element name="cmLogonResponse" type="CMLogonResponse"/>
         <xsd:element name="cmUpdate" type="CMUpdate"/>
         <xsd:element name="cmContactRequest" type="CMContactRequest"/>
         <xsd:element name="cmForwardRequest" type="CMForwardRequest"/>
         <xsd:element name="cmAbortReason" type="CMAbortReason"/>
         <xsd:element name="cmForwardResponse" type="CMForwardResponse"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="FEP2ATCMessages" type="FEP2ATCMessagesType"/>
   <xsd:complexType name="FEP2ATCMessagesType">
      <xsd:choice>
         <xsd:element name="cmDownlinkMessages" type="CmDownlinkMessages"/>
         <xsd:element name="adsDownlinkMessages" type="AdsDownlinkMessages"/>
      </xsd:choice>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="ATC2FEPMessages" type="ATC2FEPMessagesType"/>
   <xsd:complexType name="ATC2FEPMessagesType">
      <xsd:choice>
         <xsd:element name="cmUplinkMessages" type="CmUplinkMessages"/>
         <xsd:element name="adsUplinkMessages" type="AdsUplinkMessages"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="AircraftFlightIdentification">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Airport">
      <xsd:restriction base="xsd:string">
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AEQualifier">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:complexType name="CMAbortReason">
      <xsd:choice>
         <xsd:element name="timer-expired">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="undefined-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="invalid-PDU">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="protocol-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dialogue-acceptance-not-permitted">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dialogue-end-not-accepted">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="communication-service-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="communication-service-failure">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="invalid-QOS-parameter">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="expected-PDU-missing">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Response">
      <xsd:choice>
         <xsd:element name="contactSuccess">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="contactNotSuccessful">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CMContactResponse">
      <xsd:complexContent>
         <xsd:extension base="Response"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ShortTsap">
      <xsd:sequence>
         <xsd:element name="aRS" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:hexBinary">
                  <xsd:length value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="locSysNselTsel" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:hexBinary">
                  <xsd:minLength value="10"/>
                  <xsd:maxLength value="11"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LongTsap">
      <xsd:sequence>
         <xsd:element name="rDP" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:hexBinary">
                  <xsd:length value="5"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="shortTsap" type="ShortTsap"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="VersionNumber">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="255"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="APAddress">
      <xsd:choice>
         <xsd:element name="longTsap" type="LongTsap"/>
         <xsd:element name="shortTsap" type="ShortTsap"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AEQualifierVersionAddress">
      <xsd:sequence>
         <xsd:element name="aeQualifier" type="AEQualifier"/>
         <xsd:element name="apVersion" type="VersionNumber"/>
         <xsd:element name="apAddress" type="APAddress"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AEQualifierVersion">
      <xsd:sequence>
         <xsd:element name="aeQualifier" type="AEQualifier"/>
         <xsd:element name="apVersion" type="VersionNumber"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Year">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1996"/>
         <xsd:maxInclusive value="2095"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Month">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="12"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Day">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="31"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="DLDate">
      <xsd:sequence>
         <xsd:element name="year" type="Year"/>
         <xsd:element name="month" type="Month"/>
         <xsd:element name="day" type="Day"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Timehours">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="23"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Timeminutes">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="59"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Time">
      <xsd:sequence>
         <xsd:element name="hours" type="Timehours"/>
         <xsd:element name="minutes" type="Timeminutes"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DateTime">
      <xsd:sequence>
         <xsd:element name="date" type="DLDate"/>
         <xsd:element name="time" type="Time"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CMLogonRequest">
      <xsd:sequence>
         <xsd:element name="aircraftFlightIdentification" type="AircraftFlightIdentification"/>
         <xsd:element name="cMLongTSAP" type="LongTsap"/>
         <xsd:element name="groundInitiatedApplications" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="256">
                  <xsd:element name="AEQualifierVersionAddress" type="AEQualifierVersionAddress"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="airOnlyInitiatedApplications" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="256">
                  <xsd:element name="AEQualifierVersion" type="AEQualifierVersion"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="facilityDesignation" minOccurs="0" type="FacilityDesignation"/>
         <xsd:element name="airportDeparture" minOccurs="0" type="Airport"/>
         <xsd:element name="airportDestination" minOccurs="0" type="Airport"/>
         <xsd:element name="dateTimeDepartureETD" minOccurs="0" type="DateTime"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CMForwardRequest">
      <xsd:complexContent>
         <xsd:extension base="CMLogonRequest"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="CMForwardResponse">
      <xsd:choice>
         <xsd:element name="success">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="incompatible-version">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="service-not-supported">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CMLogonResponse">
      <xsd:sequence>
         <xsd:element name="airInitiatedApplications" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="256">
                  <xsd:element name="AEQualifierVersionAddress" type="AEQualifierVersionAddress"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="groundOnlyInitiatedApplications" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="256">
                  <xsd:element name="AEQualifierVersion" type="AEQualifierVersion"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CMUpdate">
      <xsd:complexContent>
         <xsd:extension base="CMLogonResponse"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="AircraftRegistrationIdentifier">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="7"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ApplicationVersion">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="ATSCClass">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[ABCDEFGH]{0,}"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AircraftAddress">
      <xsd:restriction base="asn1:BitString">
         <xsd:length value="24"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="CmPEREncodedMessage">
      <xsd:restriction base="asn1:BitString"/>
   </xsd:simpleType>

   <xsd:complexType name="MaintainResult">
      <xsd:choice>
         <xsd:element name="maintain">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doNotMaintain">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ATNAircraftAndFlightID">
      <xsd:sequence>
         <xsd:element name="aircraftAddress" type="AircraftAddress"/>
         <xsd:element name="flightID" type="AircraftFlightIdentification"/>
         <xsd:element name="tailNumber" minOccurs="0" type="AircraftRegistrationIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="FANSAircraftAndFlightID">
      <xsd:sequence>
         <xsd:element name="aircraftAddress" type="AircraftAddress"/>
         <xsd:element name="flightID" type="AircraftFlightIdentification"/>
         <xsd:element name="tailNumber" type="AircraftRegistrationIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AircraftAndFlightID">
      <xsd:choice>
         <xsd:element name="atnAircraft" type="ATNAircraftAndFlightID"/>
         <xsd:element name="fansAircraft" type="FANSAircraftAndFlightID"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CmEndReq">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="CmUAbortReq">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="CmUAbortInd">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="CmCancelFlightReq">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="CmCancelFlightInd">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="AdsPEREncodedMessage">
      <xsd:restriction base="asn1:BitString"/>
   </xsd:simpleType>

   <xsd:complexType name="ApplicationChecksum">
      <xsd:sequence>
         <xsd:element name="algorithmID" type="asn1:ObjectIdentifier"/>
         <xsd:element name="checksum" type="asn1:BitString"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsDemandReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="version" type="ApplicationVersion"/>
         <xsd:element name="request">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSRequestContract"
                            type="ADSRequestContractType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="class" minOccurs="0" type="ATSCClass"/>
         <xsd:element name="checksum" type="ApplicationChecksum"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsEventReq">
      <xsd:complexContent>
         <xsd:extension base="AdsDemandReq"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsPeriodicReq">
      <xsd:complexContent>
         <xsd:extension base="AdsDemandReq"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelAllReq">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelAllCnf">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsContractType">
      <xsd:choice>
         <xsd:element name="event-contract">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="periodic-contract">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="demand-contract">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsUserAbortReason">
      <xsd:choice>
         <xsd:element name="undefined">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unknown-integrity-check">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="validation-failure">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unable-to-decode-message">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsProviderAbortReason">
      <xsd:choice>
         <xsd:element name="communications-service-failure">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unrecoverable-system-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="invalid-PDU">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sequence-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="timer-expiry">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="cannot-establish-contact">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="undefined-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dialogue-end-not-accepted">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unexpected-PDU">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="decoding-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="invalid-qos-parameter">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CMContactRequest">
      <xsd:sequence>
         <xsd:element name="facilityDesignation" type="FacilityDesignation"/>
         <xsd:element name="address" type="LongTsap"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmLogonRsp">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="cmLogonResponse">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="CMLogonResponse" type="CMLogonResponse"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="maintain" type="MaintainResult"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmForwardReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="cmForwardRequest" type="CMForwardRequest"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmUpdateReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="cmUpdateRequest" type="CmPEREncodedMessage"/>
         <xsd:element name="class" minOccurs="0" type="ATSCClass"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmContactReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="cmContactRequest" type="CmPEREncodedMessage"/>
         <xsd:element name="class" minOccurs="0" type="ATSCClass"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmUplinkMessages">
      <xsd:choice>
         <xsd:element name="cmLogonRsp" type="CmLogonRsp"/>
         <xsd:element name="cmForwardReq" type="CmForwardReq"/>
         <xsd:element name="cmUpdateReq" type="CmUpdateReq"/>
         <xsd:element name="cmContactReq" type="CmContactReq"/>
         <xsd:element name="cmEndReq" type="CmEndReq"/>
         <xsd:element name="cmUAbortReq" type="CmUAbortReq"/>
         <xsd:element name="cmCancelFlightReq" type="CmCancelFlightReq"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CmLogonInd">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="version" type="ApplicationVersion"/>
         <xsd:element name="cmLogonRequest">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="CMLogonRequest" type="CMLogonRequest"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmForwardRsp">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="cmForwardResponse" type="CMForwardResponse"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmContactCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="cmContactResponse" type="CMContactResponse"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmPAbortInd">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="cmAbortReason" type="CMAbortReason"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CmDownlinkMessages">
      <xsd:choice>
         <xsd:element name="cmLogonInd" type="CmLogonInd"/>
         <xsd:element name="cmForwardRsp" type="CmForwardRsp"/>
         <xsd:element name="cmContactCnf" type="CmContactCnf"/>
         <xsd:element name="cmUAbortInd" type="CmUAbortInd"/>
         <xsd:element name="cmPAbortInd" type="CmPAbortInd"/>
         <xsd:element name="cmCancelFlightInd" type="CmCancelFlightInd"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="contractType" type="AdsContractType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsUAbortReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="reason" type="AdsUserAbortReason"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsUplinkMessages">
      <xsd:choice>
         <xsd:element name="adsDemandReq" type="AdsDemandReq"/>
         <xsd:element name="adsEventReq" type="AdsEventReq"/>
         <xsd:element name="adsPeriodicReq" type="AdsPeriodicReq"/>
         <xsd:element name="adsCancelReq" type="AdsCancelReq"/>
         <xsd:element name="adsCancelAllReq" type="AdsCancelAllReq"/>
         <xsd:element name="adsUAbortReq" type="AdsUAbortReq"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsReply">
      <xsd:choice>
         <xsd:element name="aDSDataReport">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSReport" type="ADSReportType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="aDSPositiveAcknowledgement">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSPositiveAcknowledgement"
                            type="ADSPositiveAcknowledgementType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="aDSReject">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSReject" type="ADSRejectType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="aDSNonCompliance">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSNonCompliance"
                            type="ADSNonComplianceType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsDemandCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="response" type="AdsReply"/>
         <xsd:element name="checksum" type="ApplicationChecksum"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsEventCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="response" type="AdsReply"/>
         <xsd:element name="checksum" type="ApplicationChecksum"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsPeriodicCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="response" type="AdsReply"/>
         <xsd:element name="checksum" type="ApplicationChecksum"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="contractType" type="AdsContractType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsReportInd">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="contractType" type="AdsContractType"/>
         <xsd:element name="report">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSReport" type="ADSReportType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="checksum" type="ApplicationChecksum"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsPAbortInd">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="abortReason" type="AdsProviderAbortReason"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsDownlinkMessages">
      <xsd:choice>
         <xsd:element name="adsDemandCnf" type="AdsDemandCnf"/>
         <xsd:element name="adsEventCnf" type="AdsEventCnf"/>
         <xsd:element name="adsPeriodicCnf" type="AdsPeriodicCnf"/>
         <xsd:element name="adsCancelCnf" type="AdsCancelCnf"/>
         <xsd:element name="adsCancelAllCnf" type="AdsCancelAllCnf"/>
         <xsd:element name="adsReportInd" type="AdsReportInd"/>
         <xsd:element name="adsUAbortInd" type="AdsUAbortReq"/>
         <xsd:element name="adsPAbortInd" type="AdsPAbortInd"/>
      </xsd:choice>
   </xsd:complexType>

</xsd:schema>
