ACS-SMI-subscriptionReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
  
  <xsd:element name="subscriptionReply" type="subscriptionReplyType"/>

  <xsd:complexType name="subscriptionReplyType">
    <xsd:sequence>
      <xsd:element name="subscriptionId" type="xsd:NCName"/>
      <xsd:element name="address" type="xsd:anyURI"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
