ACS-SMI-subscriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
  
  <xsd:element name="subscriptionRequest" type="subscriptionRequestType"/>

  <xsd:complexType name="subscriptionRequestType">
    <xsd:sequence>
      <!-- The filter must be a valid "APACHE.ORG:SELECTOR" expression. -->
      <xsd:element name="filter" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
