ACS-SMI-subscriptionDetailsReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
  
  <xsd:element name="subscriptionDetails" type="subscriptionDetailsType"/>

  <xsd:complexType name="subscriptionDetailsType">
    <xsd:sequence>
      <xsd:element name="address" type="xsd:anyURI"/>
      <xsd:element name="filter" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
