ACS-DPI-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.4.3.5, Date: 12-Mar-2021. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="asn1.xsd"/>
   <xsd:include id="ADS_Message_set"
                schemaLocation="ADSMessageSetVersion1_ACS.xsd"/>

   <xsd:element name="ACSMessage" type="ACSDataMessageType"/>
   <xsd:complexType name="ACSDataMessageType">
     <xsd:choice>
       <xsd:element name="adsDemandCnf" type="AdsDemandCnf"/>
       <xsd:element name="adsEventCnf" type="AdsEventCnf"/>
       <xsd:element name="adsPeriodicCnf" type="AdsPeriodicCnf"/>
       <xsd:element name="adsCancelCnf" type="AdsCancelCnf"/>
       <xsd:element name="adsCancelAllCnf" type="AdsCancelAllCnf"/>
       <xsd:element name="adsReportInd" type="AdsReportInd"/>
       <xsd:element name="adsUAbortInd" type="AdsUAbortReq"/>
       <xsd:element name="adsPAbortInd" type="AdsPAbortInd"/>
       <xsd:element name="adsDemandReq" type="AdsDemandReq"/>
       <xsd:element name="adsEventReq" type="AdsEventReq"/>
       <xsd:element name="adsPeriodicReq" type="AdsPeriodicReq"/>
       <xsd:element name="adsCancelReq" type="AdsCancelReq"/>
       <xsd:element name="adsCancelAllReq" type="AdsCancelAllReq"/>
       <xsd:element name="adsUAbortReq" type="AdsUAbortReq"/>
     </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="VersionNumber">
    <xsd:restriction base="xsd:unsignedByte">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

   <xsd:simpleType name="ATSCClass">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[ABCDEFGH]{0,}"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AircraftAddress">
      <xsd:restriction base="asn1:BitString">
         <xsd:length value="24"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AircraftFlightIdentification">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AircraftRegistrationIdentifier">
     <xsd:restriction base="xsd:string">
       <xsd:minLength value="2"/>
       <xsd:maxLength value="7"/>
     </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="ATNAircraftAndFlightID">
     <xsd:sequence>
       <xsd:element name="aircraftAddress" type="AircraftAddress"/>
       <xsd:element name="flightID" type="AircraftFlightIdentification"/>
       <xsd:element name="tailNumber" minOccurs="0" type="AircraftRegistrationIdentifier"/>
     </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="FANSAircraftAndFlightID">
      <xsd:sequence>
         <xsd:element name="aircraftAddress" type="AircraftAddress"/>
         <xsd:element name="flightID" type="AircraftFlightIdentification"/>
         <xsd:element name="tailNumber" type="AircraftRegistrationIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AircraftAndFlightID">
      <xsd:choice>
         <xsd:element name="atnAircraft" type="ATNAircraftAndFlightID"/>
         <xsd:element name="fansAircraft" type="FANSAircraftAndFlightID"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsReply">
      <xsd:choice>
         <xsd:element name="aDSDataReport">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSReport" type="ADSReportType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="aDSPositiveAcknowledgement">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSPositiveAcknowledgement"
                            type="ADSPositiveAcknowledgementType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="aDSReject">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSReject" type="ADSRejectType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="aDSNonCompliance">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSNonCompliance"
                            type="ADSNonComplianceType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsDemandCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="response" type="AdsReply"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsEventCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="response" type="AdsReply"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsPeriodicCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="response" type="AdsReply"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelCnf">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="contractType" type="AdsContractType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsReportInd">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="contractType" type="AdsContractType"/>
         <xsd:element name="report">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSReport" type="ADSReportType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsPAbortInd">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="abortReason" type="AdsProviderAbortReason"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdsDemandReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="adsVersion" type="VersionNumber"/>
         <xsd:element name="request">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="ADSRequestContract"
                            type="ADSRequestContractType"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>
         <xsd:element name="class" minOccurs="0" type="ATSCClass"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsEventReq">
      <xsd:complexContent>
         <xsd:extension base="AdsDemandReq"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsPeriodicReq">
      <xsd:complexContent>
         <xsd:extension base="AdsDemandReq"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelAllReq">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelAllCnf">
      <xsd:complexContent>
         <xsd:extension base="AircraftAndFlightID"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="AdsContractType">
      <xsd:choice>
         <xsd:element name="event-contract">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="periodic-contract">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="demand-contract">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsUserAbortReason">
      <xsd:choice>
         <xsd:element name="undefined">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unknown-integrity-check">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="validation-failure">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unable-to-decode-message">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsProviderAbortReason">
      <xsd:choice>
         <xsd:element name="communications-service-failure">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unrecoverable-system-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="invalid-PDU">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sequence-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="timer-expiry">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="cannot-establish-contact">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="undefined-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dialogue-end-not-accepted">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unexpected-PDU">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="decoding-error">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="invalid-qos-parameter">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AdsUAbortReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="reason" type="AdsUserAbortReason"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdsCancelReq">
      <xsd:sequence>
         <xsd:element name="aircraftID" type="AircraftAndFlightID"/>
         <xsd:element name="contractType" type="AdsContractType"/>
      </xsd:sequence>
   </xsd:complexType>

 </xsd:schema>
