ADSMessageSetVersion3_ACS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.6.0, Date: 15-Nov-2023. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="ADSRequestContract" type="ADSRequestContractType"/>
   <xsd:complexType name="ADSRequestContractType">
      <xsd:choice>
         <xsd:element name="demand-contract" type="DemandContractRequest"/>
         <xsd:element name="event-contract" type="EventContractRequest"/>
         <xsd:element name="periodic-contract" type="PeriodicContractRequest"/>
      </xsd:choice>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="ADSReport" type="ADSReportType"/>
   <xsd:complexType name="ADSReportType">
      <xsd:choice>
         <xsd:element name="demand-report" type="DemandReport"/>
         <xsd:element name="event-report" type="EventReport"/>
         <xsd:element name="periodic-report" type="PeriodicReport"/>
      </xsd:choice>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="ADSPositiveAcknowledgement" type="ADSPositiveAcknowledgementType"/>
   <xsd:complexType name="ADSPositiveAcknowledgementType">
      <xsd:sequence>
         <xsd:element name="contractNumber" type="ContractNumber"/>
         <xsd:element name="requestType" type="RequestType"/>
         <xsd:element name="connectedATSUList" type="ConnectedATSUList"/>
         <xsd:element name="emergencyUrgency" minOccurs="0" type="ADSEmergencyUrgencyStatus"/>
         <xsd:element name="epp-multiple-tolerances-max-waypoints" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedInt">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="ADSNonCompliance" type="ADSNonComplianceType"/>
   <xsd:complexType name="ADSNonComplianceType">
      <xsd:sequence>
         <xsd:element name="contractNumber" type="ContractNumber"/>
         <xsd:element name="connectedATSUList" type="ConnectedATSUList"/>
         <xsd:element name="emergencyUrgency" minOccurs="0" type="ADSEmergencyUrgencyStatus"/>
         <xsd:element name="eppLimitations" minOccurs="0" type="EPPLimitations"/>
         <xsd:element name="contractDetailsNotSupporting" minOccurs="0" >
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="demand-ncn" type="ReportTypeNotSupported"/>
                  <xsd:element name="event-ncn" type="EventTypeNotSupported"/>
                  <xsd:element name="periodic-ncn" type="ReportTypeAndPeriodNotSupported"/>
                  <xsd:any namespace="##other" processContents="lax"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="epp-multiple-tolerances-max-waypoints" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedInt">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="epp-multiple-tolerances-already-in-place" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-tolerance-maximum-capacity-exceeded" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-multiple-tolerances-epplimitations" minOccurs="0" type="EPPMultipleLimitations"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="ADSReject" type="ADSRejectType"/>
   <xsd:complexType name="ADSRejectType">
      <xsd:sequence>
         <xsd:element name="contractNumber" minOccurs="0" type="ContractNumber"/>
         <xsd:element name="connectedATSUList" type="ConnectedATSUList"/>
         <xsd:element name="emergencyUrgency" minOccurs="0" type="ADSEmergencyUrgencyStatus"/>
         <xsd:element name="rejectDetails" >
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="aDS-service-unavailable" type="asn1:NULL"/>
                  <xsd:element name="undefined-reason" type="asn1:NULL"/>
                  <xsd:element name="maximum-capacity-exceeded" type="asn1:NULL"/>
                  <xsd:element name="reserved" type="asn1:NULL"/>
                  <xsd:element name="waypoint-in-request-not-on-the-route" type="asn1:NULL"/>
                  <xsd:element name="aDS-contract-not-supported" type="asn1:NULL"/>
                  <xsd:element name="noneOfReportTypesSupported" type="asn1:NULL"/>
                  <xsd:element name="noneOfEventTypesSupported" type="asn1:NULL"/>
                  <xsd:element name="rejectReasonDetailsB" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="reportRejectDetailsB" minOccurs="0" type="ReportTypeNotSupported"/>
                           <xsd:element name="eventRejectDetailsB" minOccurs="0" type="EventTypeNotSupported"/>
                           <xsd:element name="rejectReasonDetailsB" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="waypoint-in-request-not-on-the-route" minOccurs="0" type="asn1:NULL"/>
                                    <xsd:element name="epp-window-inconsistency" minOccurs="0" type="asn1:NULL"/>
                                    <xsd:element name="epp-multiple-tolerances-already-in-place" minOccurs="0" type="asn1:NULL"/>
                                    <xsd:element name="epp-tolerance-maximum-capacity-exceeded" minOccurs="0" type="asn1:NULL"/>
                                    <xsd:element name="epp-tolerance-event-type-not-relevant" minOccurs="0" type="asn1:NULL"/>
                                    <xsd:element name="epp-multiple-tolerances-event-type-not-relevant" minOccurs="0" type="asn1:NULL"/>
                                    <xsd:element name="epp-multiple-tolerances-waypoint-not-on-route" minOccurs="0" type="asn1:NULL"/>
                                    <xsd:element name="epp-tolerance-epplimitations" minOccurs="0" type="EPPLimitations"/>
                                    <xsd:element name="epp-multiple-tolerances-epplimitations" minOccurs="0" type="EPPMultipleLimitations"/>
                                    <xsd:element name="epp-multiple-tolerances-max-waypoints" minOccurs="0" >
                                       <xsd:simpleType>
                                          <xsd:restriction base="xsd:unsignedInt">
                                             <xsd:minInclusive value="0"/>
                                             <xsd:maxInclusive value="4"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:any namespace="##other" processContents="lax"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="ADSEmergencyUrgencyStatus">
      <xsd:restriction base="asn1:BitString">
         <xsd:length value="6"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Airport">
      <xsd:restriction base="xsd:string">
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AltimeterEnglish">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="2200"/>
         <xsd:maxInclusive value="3200"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AltimeterMetric">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="7500"/>
         <xsd:maxInclusive value="12500"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ContractNumber">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="DateDay">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="31"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DateMonth">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="12"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DateYear">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1996"/>
         <xsd:maxInclusive value="2095"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DegreesMagnetic">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="360"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DegreesTrue">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="360"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="DirectionSide">
      <xsd:choice>
         <xsd:element name="left">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="right">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="EstimatedPositionUncertainty">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="9900"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="EventTypeNotSupported">
      <xsd:restriction base="asn1:BitString">
         <xsd:minLength value="15"/>
         <xsd:maxLength value="25"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="EventTypeReported">
      <xsd:choice>
         <xsd:element name="lateral-deviation">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vertical-rate-deviation">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="level-range-deviation">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="way-point-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="air-speed-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="ground-speed-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-flight-plan-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-next-waypoint-in-horizon">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-tolerance-event">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rta-status-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fom-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="level-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vertical-clearance-deviation">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="airspeed-range-deviation">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turbulence-deviation">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="baseline">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="ability-to-detect-events-impaired">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="emergency-urgency-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="null">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="planned-final-approach-speed-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-holdentry-lateral-type-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-trajectory-intent-status-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-level-constraint-status-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-speed-constraint-status-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="epp-multiple-tolerances-event">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hold-status-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="runway-occupancy-change">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="active-vhf-change">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="EPPLimitations">
      <xsd:restriction base="asn1:BitString">
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="EPUChangeTolerance">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="3000"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TimeHours">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="23"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TimeMinutes">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="59"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TimeSeconds">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="59"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Timesec">
      <xsd:sequence>
         <xsd:element name="hours" type="TimeHours"/>
         <xsd:element name="minutes" type="TimeMinutes"/>
         <xsd:element name="seconds" type="TimeSeconds"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ETA">
      <xsd:complexContent>
         <xsd:extension base="Timesec"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="FacilityDesignation">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="4"/>
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="FinalApproachSpeedChange">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="25"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Frequencyvhf">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="23600"/>
         <xsd:maxInclusive value="27398"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="GrossMass">
      <xsd:restriction base="xsd:unsignedInt">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="100000"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="GroundSpeed">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-100"/>
         <xsd:maxInclusive value="4400"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="GroundSpeedChange">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="100"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="GroundTrack">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="7200"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Heading">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="7200"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Humidity">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="100"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Ias">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="1100"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="LateralDeviationThreshold">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="1500"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="LatitudeDirection">
      <xsd:choice>
         <xsd:element name="north">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="south">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="LegDistanceEnglish">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="500"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="LegDistanceMetric">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="1280"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="LegTime">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="100"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Level">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-75"/>
         <xsd:maxInclusive value="10000"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="LevelChange">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="10"/>
         <xsd:maxInclusive value="500"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="LevelConstraintQualifier">
      <xsd:choice>
         <xsd:element name="atOrAbove">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="atOrBelow">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="at">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="LongitudeDirection">
      <xsd:choice>
         <xsd:element name="east">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="west">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="Mach">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="500"/>
         <xsd:maxInclusive value="4000"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Modulus">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="255"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ReportTypeNotSupported">
      <xsd:restriction base="asn1:BitString">
         <xsd:minLength value="7"/>
         <xsd:maxLength value="13"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="RequestType">
      <xsd:choice>
         <xsd:element name="event-contract">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="periodic-contract">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="demand-contract">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="ROTAccuracy">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="10"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ROTChangeThreshold">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="20"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ROTime">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="100"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="RTASecTolerance">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="540"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="RTAStatus">
      <xsd:choice>
         <xsd:element name="achievable">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="not-achievable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RTAType">
      <xsd:choice>
         <xsd:element name="at">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="at-or-before">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="at-or-after">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="Runway">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="RunwayExit">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="SpeedQualifier">
      <xsd:choice>
         <xsd:element name="at">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="at-or-less">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="at-or-greater">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="Temperature">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-400"/>
         <xsd:maxInclusive value="400"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TurbulenceEDRValue">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="200"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TurbulenceMinutesInPast">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="30"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TurbulenceObservationWindow">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="15"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TurnRadius">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="500"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="VerticalClearanceDeviation">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="10"/>
         <xsd:maxInclusive value="500"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="VerticalRate">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-3000"/>
         <xsd:maxInclusive value="3000"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="VerticalType">
      <xsd:restriction base="asn1:BitString">
         <xsd:length value="9"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="WaypointName">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="WindDirection">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="360"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="WindErrorModelUsed">
      <xsd:choice>
         <xsd:element name="used">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="notUsed">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="WindQualityFlag">
      <xsd:choice>
         <xsd:element name="rollAngleLessThan5Deg">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rollAngle5DegOrMore">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="MetInfoRequest">
      <xsd:sequence>
         <xsd:element name="observation-window" default="15" minOccurs="0" type="TurbulenceObservationWindow"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPWindow">
      <xsd:choice>
         <xsd:element name="time-interval" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="15"/>
                  <xsd:maxInclusive value="1200"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="number-of-way-points" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Latitude">
      <xsd:sequence>
         <xsd:element name="direction" type="LatitudeDirection"/>
         <xsd:element name="degrees" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="minutes" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="59"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="seconds" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="599"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Longitude">
      <xsd:sequence>
         <xsd:element name="direction" type="LongitudeDirection"/>
         <xsd:element name="degrees" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="180"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="minutes" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="59"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="seconds" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="599"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LatitudeLongitude">
      <xsd:sequence>
         <xsd:element name="latitude" type="Latitude"/>
         <xsd:element name="longitude" type="Longitude"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TOARangeRequest">
      <xsd:sequence>
         <xsd:element name="latitudeLongitude" type="LatitudeLongitude"/>
         <xsd:element name="name" minOccurs="0" type="WaypointName"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DemandContractRequest">
      <xsd:sequence>
         <xsd:element name="contract-number" type="ContractNumber"/>
         <xsd:element name="projected-profile" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="ground-vector" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="air-vector" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="met-info" minOccurs="0" type="MetInfoRequest"/>
         <xsd:element name="extended-projected-profile" minOccurs="0" type="EPPWindow"/>
         <xsd:element name="toa-range" minOccurs="0" type="TOARangeRequest"/>
         <xsd:element name="speed-schedule-profile" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="null" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="planned-final-approach-speed" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="holding-information" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="runway-occupancy-data" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="speed-schedule-profileB" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="active-VHF-data" minOccurs="0" type="asn1:NULL"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LateralDeviationChange">
      <xsd:sequence>
         <xsd:element name="leftThreshold" type="LateralDeviationThreshold"/>
         <xsd:element name="rightThreshold" type="LateralDeviationThreshold"/>
         <xsd:element name="offsetTag" minOccurs="0" type="asn1:NULL"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="VerticalRateDeviation">
      <xsd:sequence>
         <xsd:element name="high" type="VerticalRate"/>
         <xsd:element name="low" type="VerticalRate"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LevelRangeDeviation">
      <xsd:choice>
         <xsd:element name="ceiling" type="Level"/>
         <xsd:element name="floor" type="Level"/>
         <xsd:element name="both" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="ceiling" type="Level"/>
                  <xsd:element name="floor" type="Level"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AirspeedChange">
      <xsd:sequence>
         <xsd:element name="mach-number-change" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="1000"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ias-change" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Waypoint">
      <xsd:sequence>
         <xsd:element name="name" minOccurs="0" type="WaypointName"/>
         <xsd:element name="latitudeLongitude" type="LatitudeLongitude"/>
         <xsd:element name="vertical-type" minOccurs="0" type="VerticalType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AirspeedChangeTolerance">
      <xsd:sequence>
         <xsd:element name="ias" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="5"/>
                  <xsd:maxInclusive value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="mach-number" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPTolerancesValues">
      <xsd:sequence>
         <xsd:element name="greatdistancecircle" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="5900"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="level" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="10"/>
                  <xsd:maxInclusive value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="eta" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="300"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="air-speed" minOccurs="0" type="AirspeedChangeTolerance"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPToleranceChange">
      <xsd:sequence>
         <xsd:element name="waypoint" type="Waypoint"/>
         <xsd:element name="eppToleranceValues" type="EPPTolerancesValues"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPEventChange">
      <xsd:sequence>
         <xsd:element name="epp-event-window" type="EPPWindow"/>
         <xsd:element name="epp-flight-plan-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-next-waypoint-in-horizon" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-tolerance" minOccurs="0" type="EPPToleranceChange"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AirspeedRangeChange">
      <xsd:sequence>
         <xsd:element name="minMaxIAS" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="2" maxOccurs="2">
                  <xsd:element name="Ias" type="Ias"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="minMaxMach" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="2" maxOccurs="2">
                  <xsd:element name="Mach" type="Mach"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TurbulenceDeviation">
      <xsd:sequence>
         <xsd:element name="observation-window" default="15" minOccurs="0" type="TurbulenceObservationWindow"/>
         <xsd:element name="peak-threshold" default="40" minOccurs="0" type="TurbulenceEDRValue"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPMultipleTolerancesChange">
      <xsd:sequence>
         <xsd:element name="epp-tolerance-1" type="EPPToleranceChange"/>
         <xsd:element name="epp-tolerance-2" minOccurs="0" type="EPPToleranceChange"/>
         <xsd:element name="epp-tolerance-3" minOccurs="0" type="EPPToleranceChange"/>
         <xsd:element name="epp-tolerance-4" minOccurs="0" type="EPPToleranceChange"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPEventChangeSUPP">
      <xsd:sequence>
         <xsd:element name="epp-event-window" type="EPPWindow"/>
         <xsd:element name="epp-holdentry-lateral-type-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-trajectory-intent-status-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-level-constraint-status-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-speed-constraint-status-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="epp-multiple-tolerances" minOccurs="0" type="EPPMultipleTolerancesChange"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EventContractRequest">
      <xsd:sequence>
         <xsd:element name="contract-number" type="ContractNumber"/>
         <xsd:element name="lateral-deviation" minOccurs="0" type="LateralDeviationChange"/>
         <xsd:element name="vertical-rate-deviation" minOccurs="0" type="VerticalRateDeviation"/>
         <xsd:element name="level-range-deviation" minOccurs="0" type="LevelRangeDeviation"/>
         <xsd:element name="way-point-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="airspeed-change" minOccurs="0" type="AirspeedChange"/>
         <xsd:element name="ground-speed-change" minOccurs="0" type="GroundSpeedChange"/>
         <xsd:element name="epp-change" minOccurs="0" type="EPPEventChange"/>
         <xsd:element name="rta-status-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="fom-change" minOccurs="0" type="EPUChangeTolerance"/>
         <xsd:element name="level-change" minOccurs="0" type="LevelChange"/>
         <xsd:element name="vertical-clearance-deviation" minOccurs="0" type="VerticalClearanceDeviation"/>
         <xsd:element name="airspeed-range-deviation" minOccurs="0" type="AirspeedRangeChange"/>
         <xsd:element name="turbulence-deviation" minOccurs="0" type="TurbulenceDeviation"/>
         <xsd:element name="null" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="planned-final-approach-speed-change" minOccurs="0" type="FinalApproachSpeedChange"/>
         <xsd:element name="epp-change-supplement" minOccurs="0" type="EPPEventChangeSUPP"/>
         <xsd:element name="runway-occupancy-change" minOccurs="0" type="ROTChangeThreshold"/>
         <xsd:element name="hold-status-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="active-VHF-change" minOccurs="0" type="asn1:NULL"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ReportingRate">
      <xsd:choice>
         <xsd:element name="reporting-time-seconds-scale" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="59"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="reporting-time-minutes-scale" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="120"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="MetInfoModulus">
      <xsd:sequence>
         <xsd:element name="modulus" type="Modulus"/>
         <xsd:element name="observation-window" default="15" minOccurs="0" type="TurbulenceObservationWindow"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ExtendedProjectedProfileModulus">
      <xsd:sequence>
         <xsd:element name="modulus" type="Modulus"/>
         <xsd:element name="epp-window" type="EPPWindow"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TOARangeRequestModulus">
      <xsd:sequence>
         <xsd:element name="modulus" type="Modulus"/>
         <xsd:element name="tOARangeRequest" type="TOARangeRequest"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PeriodicContractRequest">
      <xsd:sequence>
         <xsd:element name="contract-number" type="ContractNumber"/>
         <xsd:element name="reporting-rate" type="ReportingRate"/>
         <xsd:element name="projected-profile-modulus" minOccurs="0" type="Modulus"/>
         <xsd:element name="ground-vector-modulus" minOccurs="0" type="Modulus"/>
         <xsd:element name="air-vector-modulus" minOccurs="0" type="Modulus"/>
         <xsd:element name="met-info-modulus" minOccurs="0" type="MetInfoModulus"/>
         <xsd:element name="extended-projected-profile-modulus" minOccurs="0" type="ExtendedProjectedProfileModulus"/>
         <xsd:element name="toa-range-modulus" minOccurs="0" type="TOARangeRequestModulus"/>
         <xsd:element name="speed-schedule-profile-modulus" minOccurs="0" type="Modulus"/>
         <xsd:element name="null" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="planned-final-approach-speed-modulus" minOccurs="0" type="Modulus"/>
         <xsd:element name="speed-schedule-profileB-modulus" minOccurs="0" type="Modulus"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ThreeDPosition">
      <xsd:sequence>
         <xsd:element name="latitude" type="Latitude"/>
         <xsd:element name="longitude" type="Longitude"/>
         <xsd:element name="level" minOccurs="0" type="Level"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Date">
      <xsd:sequence>
         <xsd:element name="year" type="DateYear"/>
         <xsd:element name="month" type="DateMonth"/>
         <xsd:element name="day" type="DateDay"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DateTimeGroup">
      <xsd:sequence>
         <xsd:element name="date" type="Date"/>
         <xsd:element name="time" type="Timesec"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="FigureOfMerit">
      <xsd:sequence>
         <xsd:element name="estimated-position-uncertainty" type="EstimatedPositionUncertainty"/>
         <xsd:element name="multiple-navigational-units-operating" type="asn1:BOOLEAN"/>
         <xsd:element name="aais-availability" type="asn1:BOOLEAN"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ProjectedProfile">
      <xsd:sequence>
         <xsd:element name="computation-time" type="DateTimeGroup"/>
         <xsd:element name="way-point-sequence" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="2">
                  <xsd:element name="SEQUENCE" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="position" type="ThreeDPosition"/>
                           <xsd:element name="name" minOccurs="0" type="WaypointName"/>
                           <xsd:element name="estimated-time" minOccurs="0" type="ETA"/>
                           <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GroundVector">
      <xsd:sequence>
         <xsd:element name="ground-track" type="GroundTrack"/>
         <xsd:element name="ground-speed" type="GroundSpeed"/>
         <xsd:element name="vertical-rate" type="VerticalRate"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Airspeed">
      <xsd:choice>
         <xsd:element name="mach" type="Mach"/>
         <xsd:element name="ias" type="Ias"/>
         <xsd:element name="mach-and-ias" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="mach" type="Mach"/>
                  <xsd:element name="ias" type="Ias"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AirVector">
      <xsd:sequence>
         <xsd:element name="heading" type="Heading"/>
         <xsd:element name="airspeed" type="Airspeed"/>
         <xsd:element name="vertical-rate" type="VerticalRate"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="WindSpeed">
      <xsd:choice>
         <xsd:element name="kt" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="300"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="kmh" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="250"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="TurbulenceEDRPeak">
      <xsd:sequence>
         <xsd:element name="value" type="TurbulenceEDRValue"/>
         <xsd:element name="minutes-in-past" type="TurbulenceMinutesInPast"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Turbulence">
      <xsd:sequence>
         <xsd:element name="average" type="TurbulenceEDRValue"/>
         <xsd:element name="peak" type="TurbulenceEDRPeak"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MetInfo">
      <xsd:sequence>
         <xsd:element name="wind-speed" type="WindSpeed"/>
         <xsd:element name="wind-direction" type="WindDirection"/>
         <xsd:element name="wind-quality-flag" minOccurs="0" type="WindQualityFlag"/>
         <xsd:element name="temperature" minOccurs="0" type="Temperature"/>
         <xsd:element name="turbulence" minOccurs="0" type="Turbulence"/>
         <xsd:element name="humidity" minOccurs="0" type="Humidity"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Altimeter">
      <xsd:choice>
         <xsd:element name="english" type="AltimeterEnglish"/>
         <xsd:element name="metric" type="AltimeterMetric"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="QNHAltitude">
      <xsd:sequence>
         <xsd:element name="altitude" type="Level"/>
         <xsd:element name="qNH" type="Altimeter"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPLevel">
      <xsd:choice>
         <xsd:element name="qNEAltitude" type="Level"/>
         <xsd:element name="qNHAltitude" type="QNHAltitude"/>
         <xsd:element name="mSLAltitude" type="Level"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="SpeedIASMach">
      <xsd:choice>
         <xsd:element name="mach" type="Mach"/>
         <xsd:element name="ias" type="Ias"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="TurnRadiusO">
      <xsd:choice>
         <xsd:element name="turnRadiusNotAvailable" type="asn1:NULL"/>
         <xsd:element name="turnRadius" type="TurnRadius"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="LateralType">
      <xsd:sequence>
         <xsd:element name="flyby" minOccurs="0" type="TurnRadiusO"/>
         <xsd:element name="fixedRadiusTransition" minOccurs="0" type="TurnRadiusO"/>
         <xsd:element name="offsetStart" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="offsetReached" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="returnToParentPathInitiation" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="offsetEnd" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="offset" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="overfly" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="flightPlanWayPoint" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="followedByDisco" minOccurs="0" type="asn1:NULL"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LevelConstraint">
      <xsd:choice>
         <xsd:element name="single-level" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="2">
                  <xsd:element name="SEQUENCE" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="constraintQualifier" type="LevelConstraintQualifier"/>
                           <xsd:element name="level" type="Level"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="block-level" >
            <xsd:complexType>
               <xsd:sequence minOccurs="2" maxOccurs="2">
                  <xsd:element name="Level" type="Level"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="SpeedConstraint">
      <xsd:sequence>
         <xsd:element name="speedQualifier" type="SpeedQualifier"/>
         <xsd:element name="airspeed" type="Airspeed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RTA">
      <xsd:sequence>
         <xsd:element name="rtaType" type="RTAType"/>
         <xsd:element name="rta" type="Timesec"/>
         <xsd:element name="rtaTolerance" minOccurs="0" type="RTASecTolerance"/>
         <xsd:element name="rtaStatus" minOccurs="0" type="RTAStatus"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LateralTypeB">
      <xsd:sequence>
         <xsd:element name="flyby" minOccurs="0" type="TurnRadiusO"/>
         <xsd:element name="fixedRadiusTransition" minOccurs="0" type="TurnRadiusO"/>
         <xsd:element name="offsetStart" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="offsetReached" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="returnToParentPathInitiation" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="offsetEnd" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="offset" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="overfly" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="flightPlanWayPoint" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="followedByDisco" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="holdentry" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="abeam" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="alongTrackWaypoint" minOccurs="0" type="asn1:NULL"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrajectoryIntentStatus">
      <xsd:sequence>
         <xsd:element name="lateralFlightManaged" type="asn1:BOOLEAN"/>
         <xsd:element name="verticalFlightManaged" type="asn1:BOOLEAN"/>
         <xsd:element name="speedManaged" type="asn1:BOOLEAN"/>
         <xsd:element name="timeManaged" type="asn1:BOOLEAN"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ExtendedProjectedProfile">
      <xsd:sequence>
         <xsd:element name="computation-time" type="DateTimeGroup"/>
         <xsd:element name="way-point-sequence" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="128">
                  <xsd:element name="SEQUENCE" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="latitude" type="Latitude"/>
                           <xsd:element name="longitude" type="Longitude"/>
                           <xsd:element name="level" minOccurs="0" type="EPPLevel"/>
                           <xsd:element name="name" minOccurs="0" type="WaypointName"/>
                           <xsd:element name="estimated-time" minOccurs="0" type="ETA"/>
                           <xsd:element name="estimated-speed" minOccurs="0" type="SpeedIASMach"/>
                           <xsd:element name="vertical-type" minOccurs="0" type="VerticalType"/>
                           <xsd:element name="lateral-type" minOccurs="0" type="LateralType"/>
                           <xsd:element name="level-constraint" minOccurs="0" type="LevelConstraint"/>
                           <xsd:element name="speed-constraint" minOccurs="0" type="SpeedConstraint"/>
                           <xsd:element name="time-constraint" minOccurs="0" type="RTA"/>
                           <xsd:element name="lateral-typeB" minOccurs="0" type="LateralTypeB"/>
                           <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="current-gross-mass" minOccurs="0" type="GrossMass"/>
         <xsd:element name="trajectory-intent-status" minOccurs="0" type="TrajectoryIntentStatus"/>
         <xsd:element name="destination-airport" minOccurs="0" type="Airport"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SpeedScheduleSingle">
      <xsd:sequence>
         <xsd:element name="nominalSpeed" type="SpeedIASMach"/>
         <xsd:element name="minMaxSpeed" minOccurs="0" >
            <xsd:complexType>
               <xsd:choice minOccurs="2" maxOccurs="2">
                  <xsd:element name="mach" type="Mach"/>
                  <xsd:element name="ias" type="Ias"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SpeedScheduleBlock">
      <xsd:sequence minOccurs="1" maxOccurs="2">
         <xsd:element name="SpeedScheduleSingle" type="SpeedScheduleSingle"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SpeedScheduleProfile">
      <xsd:sequence>
         <xsd:element name="predicted-gross-mass-at-tod" minOccurs="0" type="GrossMass"/>
         <xsd:element name="climbSpeed" minOccurs="0" type="SpeedScheduleBlock"/>
         <xsd:element name="initialCruiseSpeedAtTOC" minOccurs="0" type="SpeedScheduleSingle"/>
         <xsd:element name="finalCruiseSpeedAtTOD" minOccurs="0" type="SpeedScheduleSingle"/>
         <xsd:element name="descentSpeed" type="SpeedScheduleBlock"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TOARange">
      <xsd:sequence>
         <xsd:element name="computation-time" type="Timesec"/>
         <xsd:element name="eta" type="ETA"/>
         <xsd:element name="latitudeLongitude" type="LatitudeLongitude"/>
         <xsd:element name="name" minOccurs="0" type="WaypointName"/>
         <xsd:element name="windErrorModelUsed" type="WindErrorModelUsed"/>
         <xsd:element name="earliest" minOccurs="0" type="ETA"/>
         <xsd:element name="latest" minOccurs="0" type="ETA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RTAStatusData">
      <xsd:sequence>
         <xsd:element name="tOARange" type="TOARange"/>
         <xsd:element name="rTAStatus" type="RTAStatus"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HoldStatus">
      <xsd:choice>
         <xsd:element name="hold-active" type="asn1:NULL"/>
         <xsd:element name="hold-not-active" type="asn1:NULL"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="HoldPosition">
      <xsd:sequence>
         <xsd:element name="holdwaypoint" type="LatitudeLongitude"/>
         <xsd:element name="name" minOccurs="0" type="WaypointName"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Degrees">
      <xsd:choice>
         <xsd:element name="magnetic" type="DegreesMagnetic"/>
         <xsd:element name="true" type="DegreesTrue"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="LegDistance">
      <xsd:choice>
         <xsd:element name="english" type="LegDistanceEnglish"/>
         <xsd:element name="metric" type="LegDistanceMetric"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="LegType">
      <xsd:choice>
         <xsd:element name="distance" type="LegDistance"/>
         <xsd:element name="time" type="LegTime"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="HoldData">
      <xsd:sequence>
         <xsd:element name="holdstatus" type="HoldStatus"/>
         <xsd:element name="entryposition" type="HoldPosition"/>
         <xsd:element name="directionSide" type="DirectionSide"/>
         <xsd:element name="degrees" type="Degrees"/>
         <xsd:element name="legtype" type="LegType"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HoldInformation">
      <xsd:choice>
         <xsd:element name="noholdplanned" type="asn1:NULL"/>
         <xsd:element name="holdplanned" type="HoldData"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RunwayOccupancyData">
      <xsd:sequence>
         <xsd:element name="predicted-runway-occupancy-time" default="0" minOccurs="0" type="ROTime"/>
         <xsd:element name="rot-accuracy" minOccurs="0" type="ROTAccuracy"/>
         <xsd:element name="runway-exit" default="Z99" minOccurs="0" type="RunwayExit"/>
         <xsd:element name="runway" default="99Z" minOccurs="0" type="Runway"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SpeedScheduleProfileB">
      <xsd:sequence>
         <xsd:element name="predicted-gross-mass-at-tod" minOccurs="0" type="GrossMass"/>
         <xsd:element name="climbSpeed" minOccurs="0" type="SpeedScheduleBlock"/>
         <xsd:element name="initialCruiseSpeedAtTOC" minOccurs="0" type="SpeedScheduleSingle"/>
         <xsd:element name="finalCruiseSpeedAtTOD" minOccurs="0" type="SpeedScheduleSingle"/>
         <xsd:element name="descentSpeed" minOccurs="0" type="SpeedScheduleBlock"/>
         <xsd:element name="planned-final-approach-speed" minOccurs="0" type="Ias"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ActiveVHFdata">
      <xsd:sequence>
         <xsd:element name="activeFrequency1" type="Frequencyvhf"/>
         <xsd:element name="activeFrequency2" minOccurs="0" type="Frequencyvhf"/>
         <xsd:element name="activeFrequency3" minOccurs="0" type="Frequencyvhf"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ADSDataReport">
      <xsd:sequence>
         <xsd:element name="position" type="ThreeDPosition"/>
         <xsd:element name="time" type="DateTimeGroup"/>
         <xsd:element name="fom" type="FigureOfMerit"/>
         <xsd:element name="contract-number" type="ContractNumber"/>
         <xsd:element name="projected-profile" minOccurs="0" type="ProjectedProfile"/>
         <xsd:element name="ground-vector" minOccurs="0" type="GroundVector"/>
         <xsd:element name="air-vector" minOccurs="0" type="AirVector"/>
         <xsd:element name="met-info" minOccurs="0" type="MetInfo"/>
         <xsd:element name="extended-projected-profile" minOccurs="0" type="ExtendedProjectedProfile"/>
         <xsd:element name="speed-schedule-profile" minOccurs="0" type="SpeedScheduleProfile"/>
         <xsd:element name="emergency-urgency-status" minOccurs="0" type="ADSEmergencyUrgencyStatus"/>
         <xsd:element name="toa-range" minOccurs="0" type="TOARange"/>
         <xsd:element name="rta-status-data" minOccurs="0" type="RTAStatusData"/>
         <xsd:element name="null" minOccurs="0" type="asn1:NULL"/>
         <xsd:element name="planned-final-approach-speed" minOccurs="0" type="Ias"/>
         <xsd:element name="holding-data" minOccurs="0" type="HoldInformation"/>
         <xsd:element name="runway-occupancy-data" minOccurs="0" type="RunwayOccupancyData"/>
         <xsd:element name="speed-schedule-profileB" minOccurs="0" type="SpeedScheduleProfileB"/>
         <xsd:element name="active-vhf-frequency" minOccurs="0" type="ActiveVHFdata"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DemandReport">
      <xsd:sequence>
         <xsd:element name="report" type="ADSDataReport"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EventReport">
      <xsd:sequence>
         <xsd:element name="event-type" type="EventTypeReported"/>
         <xsd:element name="report" type="ADSDataReport"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PeriodicReport">
      <xsd:sequence>
         <xsd:element name="report" type="ADSDataReport"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ConnectedATSUList">
      <xsd:sequence>
         <xsd:element name="highPriority" minOccurs="0" type="FacilityDesignation"/>
         <xsd:element name="mediumPriority" minOccurs="0" type="FacilityDesignation"/>
         <xsd:element name="lowPriority" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="FacilityDesignation" type="FacilityDesignation"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ReportTypeAndPeriodNotSupported">
      <xsd:sequence>
         <xsd:element name="notsupportedReportType" minOccurs="0" type="ReportTypeNotSupported"/>
         <xsd:element name="supportedReportingRate" minOccurs="0" type="ReportingRate"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPLimitationsWaypoint">
      <xsd:sequence>
         <xsd:element name="epp-limitations" type="EPPLimitations"/>
         <xsd:element name="waypoint" type="Waypoint"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EPPMultipleLimitations">
      <xsd:sequence>
         <xsd:element name="epp-limitations-waypoint-1" type="EPPLimitationsWaypoint"/>
         <xsd:element name="epp-limitations-waypoint-2" minOccurs="0" type="EPPLimitationsWaypoint"/>
         <xsd:element name="epp-limitations-waypoint-3" minOccurs="0" type="EPPLimitationsWaypoint"/>
         <xsd:element name="epp-limitations-waypoint-4" minOccurs="0" type="EPPLimitationsWaypoint"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
